{%extends "/home/edgar/Desktop/Proyectos/UMAE_db/inventario/templates/inventario/interfaz/base_ONLY_POST_DELETEalert.html"%}
{% load static%} 
{% load i18n %}
{% load rest_framework %}

        
        <div class="d-flex flex-column" id="content-wrapper">
            <nav class="navbar navbar-expand bg-white shadow mb-4 topbar static-top navbar-light">
                <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button" style="--bs-primary: rgb(37,126,62);--bs-primary-rgb: 37,126,62;color: rgb(37,126,62);"><i class="fas fa-align-justify"></i></button></div>
            </nav>
            <div id="content">
                <div class="container">
                    {%block anuncioAgregado%}
                    <span><strong>Proveedor agregado de manera exitosa</strong></span>
                    {%endblock%}
                    {%block botones%}
                    <div class="row">
                        <div class="col text-end">
                            <div class="btn-group flex-wrap" role="group"><button class="btn btn-primary" type="button" style="padding: 6px 15px;--bs-primary: rgb(37,126,62);--bs-primary-rgb: 37,126,62;margin: 10px;background: var(--bs-dark-text-emphasis);" data-bs-target="#modal-2" data-bs-toggle="modal"><i class="fas fa-search" style="margin-right: 10px;"></i>Filtrar Proveedores</button><button class="btn btn-primary" type="button" style="padding: 6px 15px;--bs-primary: rgb(37,126,62);--bs-primary-rgb: 37,126,62;margin: 10px;" data-bs-target="#modal-1" data-bs-toggle="modal"><i class="far fa-edit" style="margin-right: 10px;"></i>Agregar Proveedor</button></div>
                        </div>
                    </div>
                    {%endblock%}
                    {%block body%}
                    <div class="row">
                        <div class="col">
                            <div>
                                <p style="font-size: 36px;"><strong><span style="color: rgb(37, 126, 62);">Lista de Proveedores</span></strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col mx-auto" style="padding-right: 0px;padding-left: 0px;">
                            
                            {%if nombre_proveedor%}
                            <div class="card mx-auto" style="margin: 10px;">
                                <div class="card-body border rounded-0 d-inline-flex justify-content-between p-2">
                                    <div class="ms-0"><a class="fs-4 d-inline text-decoration-none stretched-link text-break" href={{id}}><strong><span style="color: rgb(37, 126, 62); background-color: rgb(248, 249, 252);">{{nombre_proveedor}}</span></strong></a>
                                        <p></p>
                                    </div>
                                    <div class="d-flex align-items-center ms-0"><a class="fs-4 text-decoration-none" href="#"></a>
                                        <p></p>
                                    </div>
                                    <div class="text-center ms-2"><a class="fs-4 text-decoration-none" href="#"></a>
                                    </div>
                                </div>
                            </div>
                            {%endif%}
                            {%for proveedor in content%}
                            <div class="card mx-auto" style="margin: 10px;">
                                <div class="card-body border rounded-0 d-inline-flex justify-content-between p-2">
                                    <div class="ms-0"><a class="fs-4 d-inline text-decoration-none stretched-link text-break" href={{proveedor.id}}><strong><span style="color: rgb(37, 126, 62); background-color: rgb(248, 249, 252);">{{proveedor.nombre_proveedor}}</span></strong></a>
                                        <p></p>
                                    </div>
                                    <div class="d-flex align-items-center ms-0"><a class="fs-4 text-decoration-none" href="#"></a>
                                        <p></p>
                                    </div>
                                    <div class="text-center ms-2"><a class="fs-4 text-decoration-none" href="#"></a>
                                       
                                    </div>
                                </div>
                            </div>
                            {%endfor %}
                        </div>
                    </div>
                    {%endblock%}
                </div>
                
                {%block modales%}
                <div class="modal fade" role="dialog" tabindex="-1" id="modal-1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Agregar Proveedor</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button></div>
                            <div class="modal-body">
                                <form method="post" id="agregarform">
                                    {%csrf_token%}
                                    <fieldset>
                                        <div class="form-floating mb-3"><input class="form-control form-control" type="text" style="height: 70px" placeholder="HGsOFT" name="nombre_proveedor" required=""><label class="form-label fs-5" for="floatingInput">Nombre del proveedor</label></div>
                                        <div class="form-floating mb-3"><input class="form-control form-control" type="tel" style="height: 70px" placeholder="HGsOFT" name="contacto"><label class="form-label fs-5" for="floatingInput">Contacto</label></div>
                                        <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Cerrar</button><button class="btn btn-primary text-end" type="submit">Guardar</button></div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" role="dialog" tabindex="-1" id="modal-2">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Filtrar Proveedor</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    {%csrf_token%}
                                    <fieldset>
                                        <div class="fs-5 form-floating mb-3"><input class="form-control form-control" type="text" placeholder="HGsOFT" name="nombre_proveedor" required=""><label class="form-label" for="floatingInput">Nombre del proveedor</label></div>
                                        <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Cerrar</button><button class="btn btn-primary text-end" type="submit">Buscar</button></div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {%endblock%}
            </div>
            <footer class="bg-white sticky-footer">
                <footer>
                    <p class="text-center">Inventario 1.0.0</p>
                </footer>
            </footer>
        </div>
    </div>

</body>

</html>