{%extends "../base_PUT-DELETE-ESPECIFICO.html"%}
{% load static%}
{%load rest_framework%}


{%block proveedoractivo%} active {%endblock%}
                    {%block botones%}
                    <div class="row">
                        <div class="col text-end">
                            
                            <div class="btn-group flex-wrap" role="group"><a class="btn btn-secondary" role="button" style="margin: 10px;" data-bs-target="#modal-3" data-bs-toggle="modal"><i class="fas fa-clipboard-check" style="margin-right: 10px;"></i>Agregar contrato</a><button class="btn btn-danger button-form" type="button" style="margin: 10px;" data-bs-target="#modal-2" data-bs-toggle="modal"><i class="fas fa-trash" style="margin-right: 10px;"></i>Dar de baja proveedor</button><button class="btn btn-primary" type="button" data-bs-target="#modal-1" data-bs-toggle="modal" style="margin: 10px;"><i class="far fa-edit" style="margin-right: 10px;"></i>Editar Proveedor</button>  </div>
                        </div>
                    </div>
                    {%endblock%}
                    {%block body%}
                    <div>
                        <p style="font-size: 36px;"><strong><span style="color: rgb(37, 126, 62);">{{contenido.nombre_proveedor}}</span></strong></p>
                    </div>
                    <div class="row">
                        <div class="col">
                            {%if contenido.contacto%}
                            <div class="card shadow border-start-warning py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span style="color: var(--bs-success-text-emphasis);font-size: 16.2px;">Contacto</span></div>
                                            <div class="text-break text-dark d-inline fw-bold h5 mb-0"><a class="stretched-link text-decoration-none" href="tel:{{contenido.contacto}}"><strong><span style="color: rgb(58, 59, 69);">{{contenido.contacto}}</span></strong></a></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-phone fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                            {%endif%}
                            
                            {%for contrato in contenido.proveedor_contrato%}
                            <div class="card mx-auto" style="margin: 10px;">
                                <div class="card-body border rounded-0 d-inline-flex justify-content-between flex-wrap p-2">
                                    <div class="ms-0"><a class="fs-4 d-inline text-decoration-none stretched-link text-break" href="/contratos/{{contrato.id}}"><strong><span style="color: rgb(37, 126, 62); background-color: rgb(248, 249, 252);">{{contrato.num_contrato}}</span></strong></a>
                                        <p>{{contrato.tipo_contrato}}</p>
                                    </div>
                                    <div class="d-inline ms-0 text-break">
                                        <p style="text-decoration:  underline;">Fecha de vencimiento</p>
                                        <p class="text-center d-block text-break">{{contrato.fecha_vencimiento}}</p>
                                    </div>
                                    <div class="text-center d-inline ms-2"><a class="fs-4 text-decoration-none" href="#"></a>
                                        <p class="text-black-50" style="text-decoration:  underline;">Dias faltantes</p>
                                        <p class="d-inline text-break" style="font-size: 16px;">{{contrato.dias_restantes}}</p>
                                    </div>
                                </div>
                            </div>
                            {%endfor%}
                            
                            <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                            </nav>
                        </div>
                    </div>
                    
                    <div class="modal fade" role="dialog" tabindex="-1" id="modal-1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Editar Proveedor</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="put-form" method="post" action="{{request.build_absolute_uri }}">
                                        {%csrf_token%}
                                        <fieldset>
                                            {% render_form serializer template_pack='/form-fields' %}
                                            <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Cerrar</button><button id="upd-btn" class="btn btn-primary" type="submit" data-bs-dismiss="modal">Guardar</button></div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" role="dialog" tabindex="-1" id="modal-2">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" style="font-size: 30px;">Eliminar Proveedor</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    {%csrf_token%}
                                    <span style="font-size: 20px;">Estas a punto de eliminar este proveedor de la base de datos de forma permanente. ¿Estas seguro que deseas continuar?</span></div>
                                <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Cerrar</button><button id="del-btn" class="btn btn-danger text-end" type="button" data-bs-dismiss="modal">Eliminar</button></div>
                            </div>
                        </div>
                    </div>
                    <div id="modal-3" class="modal fade" role="dialog" tabindex="-1">
                        <div class="modal-dialog modal-lg modal-fullscreen-sm-down" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Agregar contrato</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="agregarform">
                                        {%csrf_token%}
                                        <div class="form-floating mb-3"><input class="form-control form-control" type="text" placeholder="HGsOFT" name="num_contrato" required /><label class="form-label" for="floatingInput">Numero de contrato</label></div>
                                        <div class="form-floating mb-3"><input class="form-control" type="date" name="fecha_vencimiento" required /><label class="form-label" for="floatingInput">Fecha de vencimiento</label></div>
                                        <div class="form-floating mb-3"><select name="tipo_contrato" class="form-select">
                                                <option value="L" selected>Contrato Local</option>
                                                <option value="G">Contrato garantia</option>
                                                <option value="C">Contrato consolidado</option>
                                            </select><label class="form-label" for="floatingInput">Tipo de contrato</label></div>
                                        <div class="form-floating mb-3"><select name="tipo_servicio_estipulado" class="form-select">
                                                <option value="P/C" selected>Servicio preventivo y correctivo</option>
                                                <option value="PRV">Servicio preventivo</option>
                                                <option value="N/A">Proveedor no brinda servicio</option>
                                            </select><label class="form-label" for="floatingInput">Servicio estipulado</label></div>
                                            <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Cerrar</button><button id="guardar_proveedor" class="btn btn-primary" type="submit">Guardar</button></div>
                                    </form>
                                </div>

                                <div class="modal-footer"></div>
                            </div>
                        </div>
                    </div>
                    
    {%endblock%}
    {%block POSTform%}
<script>
    $(document).ready(function() {
      $('#agregarform').submit(function(e) {
        e.preventDefault(); 
       
        const formData = $(this).serialize();
  
        const method = 'POST'; 
        const url = 'agregar_contrato/'; 
        $.ajax({
          type: method,
          url: url,
          data: formData,
          success: function(response) {
            location.reload()
            localStorage.setItem('displayAgregado', 'true');
            console.log('POST request succesful');

          },
          error: function(error) {
            location.reload()
            localStorage.setItem('displayError', 'true');
            console.error('POST request failed');
          }
        });
      });
    });
  </script>
  {%endblock%}

</body>

</html>