{%extends "../base_PUT-DELETE-ESPECIFICO.html"%}
{% load static%}
{%load rest_framework%}

{%block areaactivo%} active {%endblock%}

{%block anuncioModificado%}
<span><strong>Su reporte a sido enviado, y pronto sera atendido por el ingeniero biomedico a cargo.</strong></span>
{%endblock%}

            <div id="content">
                <div class="container">
                    <div class="row">
                        {%block botones%}
                        <div class="col">
                            <div class="btn-group flex-wrap" role="group">
                                <button class="btn btn-danger" type="button" style="padding: 6px 17px;--bs-primary: rgb(37,126,62);--bs-primary-rgb: 37,126,62;margin: 10px;" data-bs-target="#modal-2" data-bs-toggle="modal"><i class="fas fa-medkit" style="margin-right: 10px;"></i>Reportar falla/Falta de insumo</button>
                                <a class="btn btn-info" role="button" href="{{request.build_absolute_uri}}servicio" style="margin: 10px;color: var(--bs-body-bg);"><i class="fas fa-book" style="margin-right: 10px;"></i>Ver ordenes de servicio</a>
                                <a class="btn btn-dark" role="button" href="{{request.build_absolute_uri }}agenda" style="margin: 10px;"><i class="far fa-calendar-alt" style="margin-right: 10px;"></i>Ver agenda del equipo</a>
                            </div>
                        </div>
                        {%endblock%}
                    </div>
                        

                        {%block body%}
                            
                                <p class="fs-1 text-primary m-0 fw-bold" style="--bs-secondary: rgb(37,126,62);--bs-secondary-rgb: 37,126,62;color: rgb(37,126,62);--bs-primary: rgb(37,126,62);--bs-primary-rgb: 37,126,62;">{{contenido.nombre_equipo}} | Marca: {{contenido.marca}}&nbsp;| Modelo: {{contenido.modelo}} | NNI:{{contenido.numero_nacional_inv}}</p>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        
                                            <div class="card shadow border-start-warning py-2" style="margin: 10px;">
                                                <div class="card-body">
                                                    <div class="row align-items-center no-gutters">
                                                        <div class="col me-2">
                                                            <div class="text-uppercase text-warning fw-bold text-xs mb-1" style="font-size: 13.2px;"><span style="color: var(--bs-success-text-emphasis);">Estado</span></div>
                                                            <div class="text-dark fw-bold h5 mb-0"><span>{{contenido.estado}}</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {%if contenido.cama%}
                                            <div class="card shadow border-start-warning py-2" style="margin: 10px;">
                                                <div class="card-body">
                                                    <div class="row align-items-center no-gutters">
                                                        <div class="col me-2">
                                                            <div class="text-uppercase text-warning fw-bold text-xs mb-1" style="font-size: 13.2px;"><span style="color: var(--bs-success-text-emphasis);">CAMA</span></div>
                                                            <div class="text-dark fw-bold h5 mb-0"><span>Equipo ubicado en la cama # {{contenido.cama}}</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {%endif%}
                                            <div class="card shadow border-start-warning py-2" style="margin: 10px;">
                                                <div class="card-body">
                                                    <div class="row align-items-center no-gutters">
                                                        <div class="col me-2">
                                                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span style="font-size: 13.2px;color: var(--bs-success-text-emphasis);">Area</span></div>
                                                            {%if contenido.area%}
                                                            <div class="text-dark fw-bold h5 mb-0"><a class="nav-link active stretched-link" href="{%url 'areanamespace:area_urls-detail' contenido.area_href.id%}" style="font-size: 20px;">{{contenido.area}}</a></div>
                                                            {%else%}
                                                            <div class="text-dark fw-bold h5 mb-0"><a class="nav-link disabled" style="font-size: 20px;">Equipo medico no tiene area designada</a></div>
                                                            {%endif%}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card shadow border-start-warning py-2" style="margin: 10px;">
                                                <div class="card-body">
                                                    <div class="row align-items-center no-gutters">
                                                        <div class="col me-2">
                                                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span style="color: var(--bs-success-text-emphasis);font-size: 13.2px;">NUmero de serie</span></div>
                                                            <div class="text-dark fw-bold h5 mb-0"><span>{{contenido.numero_serie}}</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card shadow border-start-warning py-2" style="margin: 10px;">
                                                <div class="card-body">
                                                    <div class="row align-items-center no-gutters">
                                                        <div class="col me-2">
                                                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span style="color: var(--bs-success-text-emphasis);font-size: 13.2px;">Observaciones</span></div>
                                                            <div class="text-dark fw-bold h5 mb-0"><span></span>{{contenido.observaciones}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {%endblock%}
        </div>
                {%block modales%}
                <div class="modal fade" role="dialog" tabindex="-1" id="modal-2">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Reportar falla en equipo medico</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <form id="put-form" action="{{request.build_absolute_uri }}levantar_reporte/">
                                    {%csrf_token%}
                                    <fieldset>
                                        {% render_form putserializer template_pack='/form-fields' %}
                                        <small class="form-text">Porfavor, tomate tu tiempo para describir a detalle la falla ocurrida</small>
                                        <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Cerrar</button><button class="btn btn-primary text-end" onclick="document.body.style.cursor='wait'; return true" style="background-color: var(--bs-form-valid-border-color);" type="submit">Reportar</button></div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
        
                {%endblock%}
                {%block PUTform%}
<script>
    $(document).ready(function () {
        $("#put-form").submit(function (event) {
            event.preventDefault();

           
            var formData = $(this).serialize();

            
            $.ajax({
                url: $(this).attr("action"),
                type: "POST",
                data: formData,
                success: function (response) {
                    location.reload()
                    localStorage.setItem('displayAlert', 'true')
                    console.log("PUT request successful");
                    
                },
                error: function (error) {
                    document.body.style.cursor='default';
                    location.reload()
                    localStorage.setItem('displayError', 'true')
                    console.error("PUT request failed");
                   
                }
            });
        });
    });
</script>
{%endblock%}