{%extends "../base_PUT-DELETE-ESPECIFICO.html"%}
{% load static%}
{%load rest_framework%}

{%block equipoactivo%} active {%endblock%}

            <div id="content">
                <div class="container">
                    <div class="row">
                        {%block botones%}
                        <div class="col">
                            <div class="btn-group flex-wrap" role="group">
                                {%if not contenido.estado == "Equipo en proceso de baja"%}
                                <button class="btn btn-danger" type="button" style="padding: 6px 17px;--bs-primary: rgb(37,126,62);--bs-primary-rgb: 37,126,62;margin: 10px;" data-bs-target="#modal-4" data-bs-toggle="modal"><i class="fas fa-medkit" style="margin-right: 10px;"></i>Reportar falla/Falta de insumo</button>
                                <button class="btn btn-success" type="button" style="margin: 10px;color: rgb(254,252,250);" data-bs-target="#modal-3" data-bs-toggle="modal"><i class="fas fa-check" style="margin-right: 10px;"></i>Agregar checklist</button>
                                <a class="btn btn-secondary" role="button" style="margin: 10px;" href="checklists/"><i class="far fa-calendar-check" style="margin-right: 10px;"></i>Ver checklists</a>
                                <a class="btn btn-info" role="button" href="{{request.build_absolute_uri}}servicio" style="margin: 10px;color: var(--bs-body-bg);"><i class="fas fa-book" style="margin-right: 10px;"></i>Ver ordenes de servicio</a>
                                <a class="btn btn-dark" role="button" href="{{request.build_absolute_uri }}agenda" style="margin: 10px;"><i class="far fa-calendar-alt" style="margin-right: 10px;"></i>Ver agenda del equipo</a>
                                {%else%}
                                <button class="btn btn-danger" type="button" data-bs-target="#modal-baja" data-bs-toggle="modal" style="margin: 10px;height: inherit;background: rgb(162,20,88);"><i class="fas fa-trash" style="margin-right: 10px;"></i>Subir Documentación</button>
                                {%endif%}
                                <button class="btn btn-primary" type="button" style="--bs-primary: rgb(37,126,62);--bs-primary-rgb: 37,126,62;margin: 10px;" data-bs-target="#modal-2" data-bs-toggle="modal"><i class="far fa-edit" style="margin-right: 10px;"></i>Modificar Equipo Medico</button></div>
                        </div>
                        {%endblock%}
                    </div>
                        {%block anuncioModificado%}
                        <span><strong>Equipo medico modificado de forma exitosa</strong></span>
                        {%endblock%}

                        {%block anuncioAgregado%}
                        <span><strong id = "addSpan"></strong></span>
                        {%endblock%}

                        {%block body%}
                            
                                <p class="fs-1 text-primary m-0 fw-bold" style="--bs-secondary: rgb(37,126,62);--bs-secondary-rgb: 37,126,62;color: rgb(37,126,62);--bs-primary: rgb(37,126,62);--bs-primary-rgb: 37,126,62;">{{contenido.nombre_equipo}} | Marca: {{contenido.marca}}&nbsp;| Modelo: {{contenido.modelo}} | NNI:{{contenido.numero_nacional_inv}}</p>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        {%if not contenido.estado == 'Equipo en proceso de baja'%}
                                        <div class="col" style="margin-top: 10px;">
                                            <div class="card shadow border-start-warning py-2" style="margin: 10px;">
                                                <div class="card-body">
                                                    <div class="row align-items-center no-gutters">
                                                        <div class="col me-2">
                                                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span style="font-size: 13.2px;color: var(--bs-success-text-emphasis);">Contrato</span></div>
                                                            <div class="text-dark fw-bold h5 mb-0">
                                                                {%if contenido.contrato%}
                                                                
                                                                <a class="nav-link active stretched-link" href="{%url 'contratonamespace:contratos_urls-detail' contenido.contrato_href.id%}" style="font-size: 20px;">{{contenido.contrato}}</a></div>
                                                                {%else%}
                                                                <a class="nav-link" style="font-size: 20px;">Este equipo medico no tiene contrato</a></div>
                                                                {%endif%}
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card shadow border-start-warning py-2" style="margin: 10px;">
                                                <div class="card-body">
                                                    <div class="row align-items-center no-gutters">
                                                        <div class="col me-2">
                                                            <div class="text-uppercase text-warning fw-bold text-xs mb-1" style="font-size: 13.2px;"><span style="color: var(--bs-success-text-emphasis);">Estado</span></div>
                                                            <div class="text-dark fw-bold h5 mb-0"><span>{{contenido.estado}}</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {%if contenido.cama%}
                                            <div class="card shadow border-start-warning py-2" style="margin: 10px;">
                                                <div class="card-body">
                                                    <div class="row align-items-center no-gutters">
                                                        <div class="col me-2">
                                                            <div class="text-uppercase text-warning fw-bold text-xs mb-1" style="font-size: 13.2px;"><span style="color: var(--bs-success-text-emphasis);">CAMA</span></div>
                                                            <div class="text-dark fw-bold h5 mb-0"><span>Equipo ubicado en la cama # {{contenido.cama}}</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {%endif%}
                                            <div class="card shadow border-start-warning py-2" style="margin: 10px;">
                                                <div class="card-body">
                                                    <div class="row align-items-center no-gutters">
                                                        <div class="col me-2">
                                                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span style="font-size: 13.2px;color: var(--bs-success-text-emphasis);">Area</span></div>
                                                            {%if contenido.area%}
                                                            <div class="text-dark fw-bold h5 mb-0"><a class="nav-link active stretched-link" href="{%url 'areanamespace:area_urls-detail' contenido.area_href.id%}" style="font-size: 20px;">{{contenido.area}}</a></div>
                                                            {%else%}
                                                            <div class="text-dark fw-bold h5 mb-0"><a class="nav-link disabled" style="font-size: 20px;">Equipo medico no tiene area designada</a></div>
                                                            {%endif%}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card shadow border-start-warning py-2" style="margin: 10px;">
                                                <div class="card-body">
                                                    <div class="row align-items-center no-gutters">
                                                        <div class="col me-2">
                                                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span style="color: var(--bs-success-text-emphasis);font-size: 13.2px;">NUmero de serie</span></div>
                                                            <div class="text-dark fw-bold h5 mb-0"><span>{{contenido.numero_serie}}</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card shadow border-start-warning py-2" style="margin: 10px;">
                                                <div class="card-body">
                                                    <div class="row align-items-center no-gutters">
                                                        <div class="col me-2">
                                                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span style="color: var(--bs-success-text-emphasis);font-size: 13.2px;">Observaciones</span></div>
                                                            <div class="text-dark fw-bold h5 mb-0"><span></span>{{contenido.observaciones}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {%else%}
                                    <div class="col" style="margin-top: 10px;">
                                    <div class="card shadow border-start-warning py-2" style="margin: 10px;">
                                        <div class="card-body">
                                            <div class="row align-items-center no-gutters">
                                                <div class="col me-2">
                                                    <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span style="font-size: 13.2px;color: var(--bs-success-text-emphasis);">Carta de Obsolescia por tercero</span></div>
                                                    <div class="text-dark fw-bold h5 mb-0">
                                                        {%if contenido.carta_obsolescencia_tercero%}
                                                        <a class="nav-link active stretched-link" href="{{contenido.carta_obsolescencia_tercero}}" style="font-size: 20px;">Este equipo SI cuenta con carta de obsolescencia a tercero</a></div>
                                                        {%else%}
                                                        <a class="nav-link" style="font-size: 20px;">Aun no se cuenta con carta de obsolescencia de tercero</a></div>
                                                        {%endif%}
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col" style="margin-top: 10px;">
                                    <div class="card shadow border-start-warning py-2" style="margin: 10px;">
                                        <div class="card-body">
                                            <div class="row align-items-center no-gutters">
                                                <div class="col me-2">
                                                    <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span style="font-size: 13.2px;color: var(--bs-success-text-emphasis);">Dictamen tecnico propio</span></div>
                                                    <div class="text-dark fw-bold h5 mb-0">
                                                        {%if contenido.dictamen_tecnico_propio%}
                                                        <a class="nav-link active stretched-link" href="{{contenido.dictamen_tecnico_propio}}" style="font-size: 20px;">Este equipo SI cuenta con el dictamen tecnico propio del instituto</a></div>
                                                        {%else%}
                                                        <a class="nav-link" style="font-size: 20px;">Aun no se cuenta con dictamen tecnico del instituto</a></div>
                                                        {%endif%}
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="card shadow border-start-warning py-2" style="margin: 10px;">
                                            <div class="card-body">
                                                <div class="row align-items-center no-gutters">
                                                    <div class="col me-2">
                                                        <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span style="font-size: 13.2px;color: var(--bs-success-text-emphasis);">Minuta de acuerdos en sesion de baja de equipo</span></div>
                                                        <div class="text-dark fw-bold h5 mb-0">
                                                            {%if contenido.minuta_baja%}
                                                            <a class="nav-link active stretched-link" href="{{contenido.minuta_baja}}" style="font-size: 20px;">Este equipo SI cuenta con minuta de acuerdos llegados en sesion de baja</a></div>
                                                            {%else%}
                                                            <a class="nav-link" style="font-size: 20px;">Aun no se cuenta con la minuta de acuerdos llegados en sesion de baja de equipo</a></div>
                                                            {%endif%}
                                                        </div>
                                                </div>
                                            </div>
                                        {%endif%}

                                                </div>
                                            </div>
                                
                                    {%endblock%}
        </div>
                {%block modales%}
                <div class="modal fade" role="dialog" tabindex="-1" id="modal-4">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Reportar falla en equipo medico</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <form id="agregarreporte">
                                    {%csrf_token%}
                                    <fieldset>
                                        {% render_form reporte template_pack='/form-fields' %}
                                        <small class="form-text">Porfavor, tomate tu tiempo para describir a detalle la falla ocurrida</small>
                                        <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Cerrar</button><button class="btn btn-primary text-end" style="background-color: var(--bs-form-valid-border-color);" type="submit">Reportar</button></div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" role="dialog" tabindex="-1" id="modal-2">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Modificar equipo medico</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <form id="put-form" action="{{request.build_absolute_uri }}">
                                    {%csrf_token%}
                                    <fieldset>
                                        {% render_form putserializer template_pack='/form-fields' %}
                                        <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Cerrar</button><button class="btn btn-primary text-end" type="submit">Guardar</button></div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" role="dialog" tabindex="-1" id="modal-3">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Agregar checklist</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <form id="agregarform" action="{{request.build_absolute_uri }}checklists/">
                                    {%csrf_token%}
                                    <fieldset>
                                        {% render_form checklist template_pack='/form-fields' %}
                                        <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Cerrar</button><button class="btn btn-primary text-end" type="submit">Guardar</button></div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" role="dialog" tabindex="-1" id="modal-baja">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Modificar equipo medico</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <form id="baja-form" action="{{request.build_absolute_uri }}">
                                    {%csrf_token%}
                                    <fieldset>
                                        {% render_form baja template_pack='/form-fields' %}
                                        <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Cerrar</button><button class="btn btn-primary text-end" type="submit">Guardar</button></div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
                {%endblock%}
                {%block customScript%}
                <script>
                    if (localStorage.getItem('displayReporte') == 'true'){
                        $("#addSpan").text("Falla agregada de forma exitosa")
                        localStorage.setItem('displayReporte', 'false')
                    }
                    else{
                        $("#addSpan").text("Checklist agregada de forma exitosa")
                    }
                </script>
                <script>
                    $(document).ready(function() {
                    $('#baja-form').submit(function(e) {
                        e.preventDefault(); 
                    
                        var formData = new FormData(this);
                
                        const method = 'PATCH'; 
                        const url = '{{request.build_absolute_uri}}'; 
                        console.log(formData)
                        $.ajax({
                        type: method,
                        url: url,
                        data: formData,
                        contentType: false,
                        processData: false,
                        headers : {
                            'Accept': 'application/json'
                        },
                        success: function(response) {
                            location.reload()
                            console.log('PATCH request succesful');

                        },
                        error: function(xhr,status,error) {
                            if (error == "Bad Request") {
                            var response = xhr.responseJSON;
                            errors_obj = xhr.responseJSON['errors']
                            console.log(errors_obj)
                            var str_error = ""
                            for (const [key,value] of Object.entries(errors_obj)){
                            str_error += "Error en el valor: " + key + ". Descripción del error: " + value + "| "
                            }
                            console.log(str_error)
                            localStorage.setItem('error-message', str_error)
                            localStorage.setItem('displayError', 'true')
                            location.reload()
                            console.error('POST request failed');
                        }
                        else {
                            localStorage.setItem('error-message', 'Ocurrio un problema, porfavor, contacta al jefe de conservación o intentalo de nuevo')
                            localStorage.setItem('displayError', 'true')
                            location.reload()
                        }
                        }
                        });
                    });
                    });
  </script>
  <script>
    $(document).ready(function () {
        $("#agregarreporte").submit(function (event) {
            event.preventDefault();

           
            var formData = $(this).serialize();

            
            $.ajax({
                url: "{%url 'equiponamespace:equipo-reporte-list' contenido.id%}",
                type: "POST",
                data: formData,
                success: function (response) {
                    location.reload()
                    localStorage.setItem('displayAgregado','true')
                    localStorage.setItem('displayReporte', 'true')
                    console.log("PUT request successful");
                    
                },
                error: function (error) {
                    
                    location.reload()
                    localStorage.setItem('displayError', 'true')
                    console.error("PUT request failed");
                   
                }
            });
        });
    });
</script>

                {%endblock%}

                {%block POSTform%}
                <script>
                    $(document).ready(function() {
                      $('#agregarform').submit(function(e) {
                        e.preventDefault(); 
                       
                        const formData = $(this).serialize();
                  
                        const method = 'POST'; 
                        const url = $(this).attr("action"); 
                        $.ajax({
                          type: method,
                          url: url,
                          data: formData,
                          success: function(response) {
                            location.reload()
                            localStorage.setItem('displayAgregado', 'true');
                            console.log('POST request succesful');
                
                          },
                          error: function(error) {
                            location.reload()
                            localStorage.setItem('displayError', 'true');
                            console.error('POST request failed');
                          }
                        });
                      });
                    });
                  </script>
                  {%endblock%}