{%extends "../base_ONLY_POST_DELETE-GENERAL.html"%}
{% load rest_framework %}
{%load crispy_forms_tags %}

{%block areaactivo%} active {%endblock%}
{%block botones%}


                    <div class="row">
                        <div class="col text-end">
                            <div class="btn-group" role="group">
                                <button class="btn btn-primary" type="button" style="padding: 6px 15px;--bs-primary: rgb(37,126,62);--bs-primary-rgb: 37,126,62;margin: 10px;background: var(--bs-dark-text-emphasis);" data-bs-target="#modal-2" data-bs-toggle="modal"><i class="fas fa-search" style="margin-right: 10px;"></i>Filtrar</button>
                                {%if user.is_staff%}
                                <button class="btn btn-primary" type="button" style="padding: 6px 15px;--bs-primary: rgb(37,126,62);--bs-primary-rgb: 37,126,62;margin: 10px;" data-bs-target="#modal-1" data-bs-toggle="modal"><i class="far fa-edit" style="margin-right: 10px;"></i>Agregar Nueva Area Y Equipo Medico</button></div>
                                {%endif%}
                            </div>
                    </div>
                    {%endblock%}
                    {%block anuncioAgregado%}
                    <span><strong>Area Medica agregada de manera exitosa</strong></span>
                   {%endblock%}
                   {%block anuncioBorrado%}
                   <span><strong>Area Medica eliminada de forma exitosa</strong></span>
                    {%endblock%}

            {%block body%}
            <div class="row">
                <div class="col">
                    <div>
                        <p style="font-size: 36px;"><strong><span style="color: rgb(37, 126, 62);">Lista de Areas</span></strong></p>
                    </div>
                </div>
            </div>
            <div class="row">
                        
                <div class="col mx-auto" style="padding-right: 0px;padding-left: 0px;">
                    {%for area in content%}
                            <div class="card mx-auto" style="margin: 10px;">
                                <div class="card-body border rounded-0 d-inline-flex justify-content-between p-2">
                                    <div class="ms-0"><a class="fs-4 d-inline text-decoration-none stretched-link text-break" href={{area.id}}><strong><span style="color: rgb(37, 126, 62); background-color: rgb(248, 249, 252);">{{area.nombre_sala}}</span></strong></a>
                                        <p></p>
                                    </div>
                                    
                                    <div class="d-flex align-items-center ms-0"><a class="fs-4 text-decoration-none" href="#"></a>
                                        <p></p>
                                    </div>
                                    {%if user.is_staff%}
                                    <div class="text-center ms-2"><a class="fs-4 text-decoration-none" href="#"></a>
                                        <p class="text-black-50" style="text-decoration:  underline;">Responsables del area</p>
                                        <p class="d-inline text-break" style="font-size: 16px;">{%for user in area.responsable%}{{user}} {%endfor%}</p>
                                    </div>
                                    {%endif%}
                                </div>
                            </div>
                            {%endfor %}
                </div>
            </div>
            {%endblock%}

            {%block modales%}
                <div class="modal fade" role="dialog" tabindex="-1" id="modal-1">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Agregar Area nueva al hospital</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <form id="agregarform">
                                    {%csrf_token%}
                                    {%if putserializer%}
                                    <fieldset>
                                        {%render_form putserializer template_pack='/form-fields'%}
                                        <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Cerrar</button><button class="btn btn-primary text-end" type="submit">Guardar</button></div>
                                    </fieldset>
                                    {%endif%}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" role="dialog" tabindex="-1" id="modal-2">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Filtrar Areas</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <form method="get">
                                    <fieldset>
                                        {{filtro.form|crispy}}
                                        <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Cerrar</button><button class="btn btn-primary text-end" type="submit">Guardar</button></div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {%endblock%}