<div class="form-floating mb-3" style>
  <input
    class="form-control"
    type="{{style.input_type}}"
    placeholder="HGsOFT"
    name="{{field.name}}"
    style="height: 70px"
    {%if field.value is not None %}
    value="{{field.value}}"
    {%endif%}
  />
  {%if style.input_type == "file"%}
  <label class="form-label text-capitalize fw-bold text-end text-dark-emphasis" for="floatingInput">{{field.label}}</label>
  {%else%}
  <label class="form-label fs-5" for="floatingInput"
    >{{field.label}}</label
  >
  {%endif%}
</div>
