{%extends "../base_PUT-DELETE-ESPECIFICO.html"%}
{%load rest_framework%}


{%block agendaactivo%} active {%endblock%}

                            {%block botones%}
                            <div class="row">
                                <div class="col text-end">
                                    <div class="btn-group" role="group"><button class="btn" type="button" style="margin: 10px; background-color: #199436; color: white;" data-bs-target="#modal-4" data-bs-toggle="modal"><i class="fas fa-check" style="margin-right: 10px;"></i>Validar {{contenido.tipo_evento}}</button><button class="btn btn-danger" type="button" style="margin: 10px;" data-bs-target="#modal-2" data-bs-toggle="modal"><i class="fas fa-trash" style="margin-right: 10px;"></i>Eliminar {{contenido.tipo_evento}}</button><button class="btn btn-primary" type="button" style="padding: 6px 15px;--bs-primary: rgb(37,126,62);--bs-primary-rgb: 37,126,62;margin: 10px;" data-bs-target="#modal-1" data-bs-toggle="modal"><i class="far fa-edit" style="margin-right: 10px;"></i>Reagendar {{contenido.tipo_evento}}</button>
                                    </div>
                                </div>
                            </div>
                            {%endblock%}
                            {%block anuncioModificado%}
                            <span><strong>{{contenido.tipo_evento}} modificado de forma exitosa</strong></span>
                            {%endblock%}

                            {%block body%}
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <p class="text-break d-inline" style="font-size: 36px;"><strong><span style="color: rgb(37, 126, 62);">{{contenido.tipo_evento}} programado para el dia: {{contenido.fecha_read.dia}} {{contenido.fecha_read.dia_numero}} 
                                        de {{contenido.fecha_read.mes}} del año {{contenido.fecha_read.año}}</span></strong></p>
                                    </div>
                                </div>
                                
                                
                                {%if contenido.contrato%}
                                <div class="card shadow border-start-warning py-2" style="margin: 10px;">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span style="font-size: 13.2px;color: var(--bs-success-text-emphasis);">Contrato</span></div>
                                                <div class="text-dark fw-bold h5 mb-0">
                                                    <a class="nav-link active stretched-link" href="{%url 'contratonamespace:contratos_urls-detail' contenido.contrato_href.id%}" style="font-size: 20px;">{{contenido.contrato}}</a></div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                {%elif contenido.equipo_medico%}
                                <div class="card shadow border-start-warning py-2" style="margin: 10px;">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span style="font-size: 13.2px;color: var(--bs-success-text-emphasis);">Equipo_medico:</span></div>
                                                <div class="text-dark fw-bold h5 mb-0">
                                                    <a class="nav-link active stretched-link" href="{%url 'equiponamespace:equipo_urls-detail' contenido.equipo_medico.id%}" style="font-size: 20px;">NNI: {{contenido.equipo_medico.numero_nacional_inv}} | {{contenido.equipo_medico.nombre_equipo}} | Area: {{contenido.equipo_medico.area}} {%if contenido.equipo_medico.cama%} | {{contenido.equipo_medico.cama}} {%else%} Equipo medico sin cama asignada {%endif%}</a></div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                {%endif%}
                                {%endblock%}
                                
                                {%block modales%}
<div class="modal fade" role="dialog" tabindex="-1" id="modal-4">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" style="font-size: 30px;">Validar {{contenido.tipo_evento}}</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                                            </div>
                                            <div class="modal-body"><span style="font-size: 20px;">Estas a punto de validar este evento agendado, ¿Estas seguro que deseas continuar?</span></div>
                                            <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Cerrar</button><button id="val" class="btn text-end" style= "background-color: #199436; color: white;" type="submit">Validar</button></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" role="dialog" tabindex="-1" id="modal-2">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" style="font-size: 30px;">Eliminar {{contenido.tipo_evento}}</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                                            </div>
                                            <div class="modal-body"><span style="font-size: 20px;">Estas a punto de eliminar este evento agendado de la base de datos de forma permanente. ¿Estas seguro que deseas continuar?</span></div>
                                            <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Cerrar</button><button id="del-btn" class="btn btn-danger text-end" type="submit">Eliminar</button></div>
                                        </div>
                                    </div>
                                </div>
                <div class="modal fade" role="dialog" tabindex="-1" id="modal-1">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Reagendar Servicio</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <form id="put-form">
                                    {%csrf_token%}
                                    {%if putserializer%}
                                    <fieldset>
                                        {%render_form putserializer template_pack='/form-fields'%}
                                        <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Cerrar</button><button class="btn btn-primary text-end" type="submit">Guardar</button></div>
                                    </fieldset>
                                    {%endif%}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                                        </div>
                                    </div>
                                <
                {%endblock%}
                {%block customScript%}
                <script>
        $(document).ready(function () {
        $("#val").click(function (event) {
            console.log($('#put-form').serializeArray())
            event.preventDefault();
            var form = document.getElementById('put-form');
            let estado = form.elements['estado'];
            estado.value = 'COM'
            
            console.log($('#put-form').serializeArray())
      var endpointUrl = '{{request.build_absolute_uri}}';

          const formdata = new FormData(form); 
      // Data to be sent in the PUT request (if need  
        
          console.log(formdata)
        $.ajax({
        url: endpointUrl,
        type: 'PUT',
        contentType: 'application/json', // Adjust content type as needed
        data: formdata,
        contentType: false,
        processData: false,
        success: function(response) {
          console.log('PUT request successful:');
            location.reload();  
            localStorage.setItem('displayAlert', 'true')
            console.log("PUT request successful");
                    
        },
        error: function(error) {
          console.error('Error making PUT request:', error);
          // Handle errors as needed
        }
      });

           
        });
    });
                  
                </script>
                {%endblock%}
                            
