{%extends "../base_ONLY_POST_DELETE-GENERAL.html"%}
{%load rest_framework%}
{%load crispy_forms_tags %}

{%block agendaactivo%} active {%endblock%}

                            {%block botones%}
                            <div class="row">
                                <div class="col text-end">
                                    <div class="btn-group" role="group">
                                        <button class="btn btn-primary" type="button" style="padding: 6px 15px;--bs-primary: rgb(37,126,62);--bs-primary-rgb: 37,126,62;margin: 10px;background: var(--bs-dark-text-emphasis);" data-bs-target="#modal-2" data-bs-toggle="modal"><i class="fas fa-search" style="margin-right: 10px;"></i>Filtrar</button>
                                        {%if user.is_staff and not area%}
                                        <button class="btn btn-primary" type="button" style="padding: 6px 15px;--bs-primary: rgb(37,126,62);--bs-primary-rgb: 37,126,62;margin: 10px;" data-bs-target="#modal-1" data-bs-toggle="modal"><i class="far fa-edit" style="margin-right: 10px;"></i>Agregar servicio agendado</button></div>
                                        {%endif%}
                                    </div>
                            </div>
                            {%endblock%}
                            {%block anuncioAgregado%}
                            <span><strong>Evento agendado de manera exitosa</strong></span>
                            {%endblock%}
                            {%block anuncioBorrado%}
                            <span><strong>Evento eliminado de forma exitosa</strong></span>
                            {%endblock%}

                            {%block body%}
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        {%if equipo%}
                                        <p class="text-break d-inline" style="font-size: 36px;"><strong><span style="color: rgb(37, 126, 62);">Agenda general del equipo NNI: {{equipo.numero_nacional_inv}} | {{equipo.nombre_equipo}}:</span></strong></p>
                                        {%elif area%}
                                        <p class="text-break d-inline" style="font-size: 36px;"><strong><span style="color: rgb(37, 126, 62);">Agenda general del area: {{area.nombre_sala}}</span></strong></p>
                                        {%elif areaequipo%}
                                        <p class="text-break d-inline" style="font-size: 36px;"><strong><span style="color: rgb(37, 126, 62);">Agenda general del equipo NNI: {{areaequipo.numero_nacional_inv}} | {{areaequipo.nombre_equipo}}</span></strong></p>
                                        {%else%}
                                        <p class="text-break d-inline" style="font-size: 36px;"><strong><span style="color: rgb(37, 126, 62);">Agenda general del hospital:</span></strong></p>
                                        {%endif%}
                                    </div>
                                </div>
                                
                                {%for orden in results%}
                                <div class="row position-relative"
                                {%if orden.dias_restantes_num < 0%}
                                style="background: #8f8f8f; margin-right: 0px;margin-bottom: 10px;padding: 10px;color: var(--bs-primary-text-emphasis);"
                                {%elif orden.dias_restantes_num <= 10 and orden.dias_restantes_num >= 0%}
                                    style="background: #ffbaba; margin-right: 0px;margin-bottom: 10px;padding: 10px;color: var(--bs-primary-text-emphasis);"
                                    {%elif orden.dias_restantes_num > 10 and orden.dias_restantes_num <= 30%}
                                    style="background: #f1ffba; margin-right: 0px;margin-bottom: 10px;padding: 10px;color: var(--bs-primary-text-emphasis);"
                                    {%else%}
                                    style="background: #badaff; margin-right: 0px;margin-bottom: 10px;padding: 10px;color: var(--bs-primary-text-emphasis);"
                                    {%endif%}>
                                    <div class="col-2 text-center" style="padding-right: 30px;">
                                        <h1 class="display-4"><span class="badge"
                                            {%if orden.dias_restantes_num < 0%}
                                            style="background: #222524;"
                                                {%elif orden.dias_restantes_num <= 10 and orden.dias_restantes_num >= 0%}
                                                style="background: #ce1126;"
                                                {%elif orden.dias_restantes_num > 10 and orden.dias_restantes_num <= 30%}
                                                style="background: #d8b511;"
                                                {%else%}
                                                style="background: #0099b5;"
                                                {%endif%}
                                            >{{orden.fecha_read.dia_numero}}</span></h1>
                                        <h5>{{orden.fecha_read.mes}}</h5>
                                        {%if not area%}
                                        {%if user.is_staff and not equipo%}
                                        <a class="stretched-link" href="{{orden.id}}"></a>
                                        {%elif user.is_staff and equipo%}
                                        <a class="stretched-link" href="{%url 'agendanamespace:agenda_urls-detail' orden.id%}"></a>
                                        {%endif%}
                                        {%elif user.is_staff and area%}
                                        <a class="stretched-link" href="{%url 'agendanamespace:agenda_urls-detail' orden.id%}"></a>
                                        {%endif%}
                                    </div>
                                    <div class="col-10">
                                        <ul class="list-inline">
                                            <li class="list-inline-item list-inline-item" style="font-size: 20px;"><i class="fa fa-calendar" aria-hidden="true"></i> {{orden.fecha_read.dia}}</li>
                                            <li class="list-inline-item list-inline-item" style="font-size: 20px;"><i class="fa fa-calendar" aria-hidden="true"></i> Año: {{orden.fecha_read.año}}</li>
                                            {%if orden.equipo_medico%}
                                            <li class="list-inline-item list-inline-item" style="font-size: 20px;"><i class="fas fa-location-arrow" aria-hidden="true"></i> {{orden.equipo_medico.area}}</li>
                                            {%endif%}
                                            {%if not orden.contrato and not equipo%}
                                            <li class="list-inline-item list-inline-item" style="font-size: 20px;"><i class="fas fa-briefcase-medical" aria-hidden="true"></i>
                                                
                                                NNI: {{orden.equipo_medico.numero_nacional_inv}} | {{orden.equipo_medico.nombre_equipo}}</li>
                                                {%if orden.equipo.cama%}
                                                <li class="list-inline-item list-inline-item" style="font-size: 20px;"><i class="fas fa-bed" aria-hidden="true"></i> Cama #{{equipo.cama}}</li>
                                                {%else%}
                                                <li class="list-inline-item list-inline-item" style="font-size: 20px;"><i class="fas fa-bed" aria-hidden="true"></i> Equipo móvil/no tiene cama</li>
                                                {%endif%}
                                            {%endif%}
                                                <li class="list-inline-item list-inline-item" style="font-size: 20px;"><i class="fas fa-equals" aria-hidden="true"></i> {{orden.tipo_evento}}</li>
                                                
                                        </ul><span>{{orden.dias_restantes}}</span>
                                    </div>
                                </div>
                                {%endfor%}
                                {%if user.is_staff%}
                                {%block modales%}
                <div class="modal fade" role="dialog" tabindex="-1" id="modal-1">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Agendar Evento nuevo</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <form id="agregarform">
                                    {%csrf_token%}
                                    {%if putserializer%}
                                    <fieldset>
                                        {%render_form putserializer template_pack='/form-fields'%}
                                        <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Cerrar</button><button class="btn btn-primary text-end" type="submit">Guardar</button></div>
                                    </fieldset>
                                    {%endif%}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" role="dialog" tabindex="-1" id="modal-2">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Filtrar Agenda</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <form method="get">
                                    <fieldset>
                                        {{filtro.form|crispy}}
                                        <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Cerrar</button><button class="btn btn-primary text-end" type="submit">Guardar</button></div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {%endblock%}
                {%endif%}
                            {%endblock%}
                    
