{%extends "/home/edgar/Desktop/Proyectos/UMAE_db/inventario/templates/inventario/interfaz/base_PUT-DELETE-ESPECIFICO.html"%}
{% load static%}
{%load rest_framework%}

{%block contratoactivo%} active {%endblock%}
                    
            <div id="content">
                <div class="container-fluid" id="contenido-contratos">
                    <div class="col">
                        <div class="row">
                            {%block botones%}
                            <div class="col text-end">
                                <div class="btn-group flex-wrap" role="group"><button class="btn btn-secondary disabled" type="button" style="margin: 10px;background: #aa004f;" data-bs-target="#modal-2" data-bs-toggle="modal"><i class="fas fa-file-signature" style="margin-right: 10px;font-size: 14px;"></i>Agendar Servicio</button><button class="btn btn-secondary" type="button" style="margin: 10px;background-color: #00b2aa" data-bs-target="#modal-3" data-bs-toggle="modal"><i class="fas fa-briefcase-medical" style="margin-right: 10px;"></i>Agregar Equipo Médico sin contrato</button><button class="btn btn-danger" type="button" style="margin: 10px;" data-bs-target="#modal-2" data-bs-toggle="modal"><i class="fas fa-trash" style="margin-right: 10px;"></i>Eliminar contrato</button><button class="btn btn-primary text-end" type="button" data-bs-target="#modal-1" data-bs-toggle="modal" style="margin: 10px;"><i class="far fa-edit" style="margin-right: 10px;"></i>Modificar Contrato</button></div>
                            </div>
                            {%endblock%}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div>
                                <p class="text-break d-inline" style="font-size: 36px;"><strong><span style="color: rgb(37, 126, 62);">Contrato numero:&nbsp;{{contenido.num_contrato}}</span></strong></p>
                            </div>
                        </div>
                    </div>
                    
                        {%block anuncioModificado%}
                        <span><strong>Contrato modificado de forma exitosa</strong></span>
                        {%endblock%}

                        {%block anuncioAgregado%}
                        <span><strong>Equipo medico agregado de forma exitosa</strong></span>
                        {%endblock%}
                    
                        {%block body%}
                        <div class="row">
                            <div class="col">
                                <div>
                                    <p class="text-break d-inline" style="font-size: 36px;"><strong><span style="color: rgb(37, 126, 62);">Contrato numero: {{contenido.num_contrato}}</span></strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                        <div class="col">
                            <div class="card shadow border-start-warning py-2" style="margin: 10px;">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span style="color: rgb(37,126,62);border-color: var(--bs-warning-text-emphasis);font-size: 14.2px;">Proveedor</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>{{contenido.proveedor}}</span></div>
                                        </div>
                                        <div class="col-auto"><span>{{contenido.tipo_servicio_estipulado}}</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card shadow border-start-warning py-2" style="margin: 10px;">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span style="color: rgb(37,126,62);border-color: var(--bs-warning-text-emphasis);font-size: 14.2px;">Tipo de contrato</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>{{contenido.tipo_contrato}}</span></div>
                                        </div>
                                        <div class="col-auto"><span></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card shadow border-start-warning py-2" style="margin: 10px;">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span style="color: rgb(37,126,62);border-color: var(--bs-warning-text-emphasis);font-size: 14.2px;">Fecha de vencimiento</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>{{contenido.fecha_vencimiento}}</span></div>
                                        </div>
                                        <div class="col-auto"><span>{{contenido.dias_restantes}}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div>
                                <p style="font-size: 36px;"><strong><span style="color: rgb(37, 126, 62);">Equipos en contrato</span></strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {%for equipo in contenido.equipos_contrato%}
                            <div class="card mx-auto" href="www.google.com" style="margin: 10px;">
                                <div class="card-body border rounded-0 d-inline-flex justify-content-between flex-wrap p-2">
                                    <div class="d-inline ms-0 text-break"><a class="text-break fs-4 d-inline text-decoration-none stretched-link text-break" href="/equipo_medico/general/{{equipo.id}}"><strong><span style="color: rgb(37, 126, 62); background-color: rgb(248, 249, 252);">NNI: {{equipo.numero_nacional_inv}}</span></strong><br><strong><span style="color: rgb(37, 126, 62); background-color: rgb(248, 249, 252);">{{equipo.nombre_equipo}}&nbsp;</span></strong></a>
                                        <p>Marca: {{equipo.marca}} | Modelo: {{equipo.modelo}} | Num.Serie: {{equipo.numero_serie}}&nbsp;</p>
                                    </div>
                                    <div class="d-inline ms-0 text-break">
                                        <p class="text-center" style="text-decoration:  underline;">Area</p>
                                        <p class="text-center d-block text-break">{{equipo.area}}</p>
                                    </div>
                                    <div class="text-center d-inline ms-2"><a class="fs-4 text-decoration-none" href="#"></a>
                                        <p class="text-black-50" style="text-decoration:  underline;">Estado</p>
                                        <p class="d-inline text-break" style="font-size: 16px;">{{equipo.estado}}</p>
                                    </div>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                    {%endblock%}
                    
                    {%block modales%}
                    <div id="modal-3" class="modal fade" role="dialog" tabindex="-1">
                        <div class="modal-dialog modal-lg modal-fullscreen-sm-down" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Agregar Equipo medico sin contrato</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="agregarform" action="agregar_equipo/">
                                        {%csrf_token%}
                                        <fieldset>
                                        {%render_form equipo template_pack='/form-fields'%}
                                        <small class="form-text">Estos son los equipos medicos que no tienen un contrato asignado, ya sea porque su contrato vencio o porque no son parte de ningun contrato. al seleccionar uno o mas equipos, estos pasaran a formar parte del contrato en el que se encuentra actualmente.</small>
                                        <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Cerrar</button><button id="agregar_equipo" class="btn btn-primary" type="submit">Agregar</button></div>
                                    </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" role="dialog" tabindex="-1" id="modal-1">
                        <div class="modal-dialog modal-lg modal-fullscreen-sm-down" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Modificar contrato</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="put-form" action="{{request.build_absolute_uri }}">
                                        {%csrf_token%}
                                        <fieldset>
                                            {% render_form putserializer template_pack='/form-fields' %}
                                            <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Cerrar</button><button id="upd-btn" class="btn btn-primary" type="submit" data-bs-dismiss="modal">Guardar</button></div>
                                        </fieldset>
                                </div>
                                <div class="modal-footer"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" role="dialog" tabindex="-1" id="modal-2">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" style="font-size: 30px;">Eliminar contrato</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body"><span style="font-size: 20px;">Estas a punto de eliminar este contrato de la base de datos de forma permanente. ¿Estas seguro que deseas continuar?</span></div>
                                <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Cerrar</button><button id="del-btn" class="btn btn-danger text-end" type="submit">Eliminar</button></div>
                            </div>
                        </div>
                    </div>
                  
                 
                   
                    {%endblock%}

                        {%block POSTform%}
                        <script>
                            $(document).ready(function() {
                            $('#agregarform').submit(function(e) {
                                e.preventDefault(); 
                            
                                const formData = $(this).serialize();
                        
                                const method = 'POST'; 
                                const url = 'agregar_equipo/'; 
                                $.ajax({
                                type: method,
                                url: url,
                                data: formData,
                                success: function(response) {
                                    location.reload()
                                    localStorage.setItem('displayAgregado', 'true');
                                    console.log('PUT request succesful');

                                },
                                error: function(error) {
                                    location.reload()
                                    localStorage.setItem('displayError', 'true');
                                    console.error('PUT request failed');
                                }
                                });
                            });
                            });
                        </script>
                    {%endblock%}
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <footer>
                    <p class="text-center">Inventario 1.0.0</p>
                </footer>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
</body>

</html>