{%extends "interfaz/base.html"%}
{%load static%}

{%block alerts%}
<div class="alert alert-warning alert-dismissible" role="alert" id="error-alert"><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="alert"></button><span><strong id="span-error"></strong></span></div>
<div id="agregado-alert" class="alert alert-info alert-dismissible" role="alert"><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="alert"></button>
    {%block anuncioAgregado%}
    <span><strong>Contrato agregado de manera exitosa</strong></span>
    {%endblock%}
</div>
<div class="alert alert-danger alert-dismissible" role="alert" id="del-alert"><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="alert"></button>
  {%block anuncioBorrado%}
  <span><strong>Proveedor eliminado de forma exitosa</strong></span>
  {%endblock%}
</div>
{%endblock%}

<script>
  function renderErrorAlert(message) {
    console.log(message)
    set.localStorage('error-message', message)
    
  }

</script>

{%block scripts%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
<script defer src="{% static 'assets/js/script.js' %}"></script>
<script src="{% static 'assets/js/theme.js' %}"></script>

{%block alertaagregado%}
<script>
    if (localStorage.getItem('displayAgregado') == 'true')
    {
        $(document).ready(function () {
            $("#agregado-alert").fadeTo(5000, 500).slideUp(500, function(){
            $("#agregado-alert").slideUp(500)})
             
        });
        localStorage.setItem('displayAgregado', 'false')
    }
    
</script>
{%endblock%}
{%block POSTform%}
<script>
    $(document).ready(function() {
      $('#agregarform').submit(function(e) {
        e.preventDefault(); 
       
        var formData = new FormData(this);
  
        const method = 'POST'; 
        const url = '{{request.build_absolute_uri}}'; 
        console.log(formData)
        $.ajax({
          type: method,
          url: url,
          data: formData,
          contentType: false,
          processData: false,
          headers : {
            'Accept': 'application/json'
          },
          success: function(response) {
            location.reload()
            localStorage.setItem('displayAgregado', 'true');
            console.log('POST request succesful');

          },
          error: function(xhr,status,error) {
            if (error == "Bad Request") {
            var response = xhr.responseJSON;
            errors_obj = xhr.responseJSON['errors']
            console.log(errors_obj)
            var str_error = ""
            for (const [key,value] of Object.entries(errors_obj)){
              str_error += "Error en el valor: " + key + ". Descripción del error: " + value + "| "
            }
            console.log(str_error)
            localStorage.setItem('error-message', str_error)
            localStorage.setItem('displayError', 'true')
            location.reload()
            console.error('POST request failed');
          }
          else {
            localStorage.setItem('error-message', 'Ocurrio un problema, porfavor, contacta al jefe de conservación o intentalo de nuevo')
          }
        }
        });
      });
    });
  </script>
  {%endblock%}
<script>
  var error = localStorage.getItem('error-message')
    $("#agregado-alert").hide();
    $("#del-alert").hide();
    $("#error-alert").hide()
    $("#span-error").text(error)
    if (localStorage.getItem('displayError') == 'true'){
        $("#error-alert").show()
    }

    if (localStorage.getItem('displayBorrado') == 'true') {
      // Display the Bootstrap alert
      $(document).ready(function () {
          $("#del-alert").fadeTo(5000, 500).slideUp(500, function(){
          $("#del-alert").slideUp(500)})
           
      });
  }
    localStorage.setItem('displayBorrado', 'false');
    localStorage.setItem('displayError','false');
    localStorage.setItem('displayAlert', 'false');
</script>
{%endblock%}

