{% load static%} 
{%load rest_framework%}
{%load crispy_forms_tags %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="es-mx">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Inventario - Proveedores</title>
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{% static 'assets/img/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicon-16x16.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="180x180" href="{% static 'assets/img/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'assets/img/android-chrome-192x192.png'%}">
    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'assets/img/android-chrome-512x512.png' %}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min_inventario.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Boostrap-Tabs.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/Calendar-BS4-news.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/Calendar-BS4.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/Features-Large-Icons-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/simple-line-icons.min.css' %}">
    <style>
        .loading {
          cursor: wait;
        }
    </style>
</head>

<body id="page-top">
    <div id="wrapper" style="--bs-primary: #0f35c3;--bs-primary-rgb: 15,53,195;">
        <nav class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark" style="--bs-primary: #dfe2ea;--bs-primary-rgb: 223,226,234;--bs-info: #91cad2;--bs-info-rgb: 145,202,210;background: var(--bs-secondary);color: rgb(241,245,243);--bs-secondary: rgb(37,126,62);--bs-secondary-rgb: 37,126,62;">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="/dashboard"><img src="{% static 'assets/img/imss3.png'%}" width="48" height="43">
                    <div class="sidebar-brand-icon rotate-n-15"></div>
                    <div class="sidebar-brand-text mx-3"><span style="--bs-primary: #07b122;--bs-primary-rgb: 7,177,34;--bs-body-bg: #f9f7f7;">Inventario</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    {%if user.is_staff%}
                    <li class="nav-item"><a class="nav-link{%block proveedoractivo%} {%endblock%}" href="{%url 'proveedornamespace:proveedorurls-list'%}" style="background: var(--bs-secondary);--bs-success: #0f5125;--bs-success-rgb: 15,81,37;"><i class="far fa-comments"></i><span style="--bs-info: #ffffff;--bs-info-rgb: 255,255,255;">Proveedores</span></a></li>
                    <li class="nav-item"><a class="nav-link{%block contratoactivo%} {%endblock%}" href="{%url 'contratonamespace:contratos_urls-list'%}"><i class="far fa-handshake"></i><span>Contratos</span></a></li>
                    {%endif%}
                    <li class="nav-item"><a class="nav-link{%block areaactivo%}{%endblock%}" href="{%url 'areanamespace:area_urls-list'%}"><i class="far fa-images"></i><span>Areas</span></a>
                    {%if user.is_staff%}
                    <a class="nav-link{%block ordenactivo%}{%endblock%}" href="{%url 'ordennamespace:orden-list'%}"><i class="far fa-file-alt"></i>Ordenes de servicio</a></li>
                    {%endif%}
                    
                    <li class="nav-item"><a class="nav-link{%block ticketactivo%} {%endblock%}" href="{%url 'reportesnamespace:seleccion-list'%}"><i class="far fa-newspaper"></i><span>Tickets</span></a></li>
    
                    {%if user.is_staff%}
                    <li class="nav-item"><a class="nav-link{%block equipoactivo%} {%endblock%}" href="{%url 'equiponamespace:equipo_urls-list'%}"><i class="far fa-sun"></i><span>Equipo medico</span></a></li>
                    {%endif%}
                    {%if user.is_staff%}
                    <li class="nav-item"><a class="nav-link{%block checklistactivo%} {%endblock%}" href="{%url 'checklistnamespace:checklist_urls-list'%}"><i class="far fa-clipboard"></i><span>Checklist</span></a>
                    {%endif%}
                    {%if user.is_staff%}
                    <a class="nav-link{%block agendaactivo%} {%endblock%}" href="{%url 'agendanamespace:agenda_urls-list'%}"><i class="far fa-calendar-alt"></i><span>Agenda</span></a>
                    {%endif%}
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <nav class="navbar navbar-expand bg-white shadow mb-4 topbar static-top navbar-light">
                <div class="container-fluid"><button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle me-3" type="button" style="--bs-primary: rgb(37,126,62);--bs-primary-rgb: 37,126,62;color: rgb(37,126,62);"><i class="fas fa-align-justify"></i></button>
                    <span 
                    {%if user.is_staff%}
                    class="badge rounded-pill bg-info text-truncate d-inline ms-auto"
                    {%else%}
                    class="badge rounded-pill bg-warning text-truncate d-inline ms-auto"
                    {%endif%}
                    style="margin: 10px;">{{user}}</span>
                    <div class="dropdown"><a class="dropdown-toggle text-truncate text-decoration-none" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="fa fa-user fs-4" style="width: 16.4px;color: var(--bs-success-text-emphasis);"></i></a>
                        <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item link-danger" href="#" data-bs-target="#modal-logout" data-bs-toggle="modal">Cerrar sesión</a></div>
                    </div>
                </div>
            </nav>
            <div id="content">
                <div class="container-lg">
                    {%block botones%}
                    {%endblock%}
            
        <div class="row">
            <div class="col">
                {%block alerts%}
            
            {%endblock%}
            </div>
        </div>

        <div class="row">
        {%block body%}
        <h1>no body</h1>
        {%endblock%}
        {%block pagination%}
        {%if paginator %}
        <nav class="pull-right d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
            <ul class="pagination">
                {% get_pagination_html paginator %}
            </ul>
          </nav>
          {%endif%}
        {%endblock%}
        </div>

        
        {%block modales%}
       
        {%endblock%}
        
        <footer class="bg-white sticky-footer">
            <footer>
                <p class="text-center">Inventario 1.0.1</p>
            </footer>
        </footer>
        </div>
    </div>

    <div id="modal-logout" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style="font-size: 30px;">Cerrar sesión</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body"><span style="font-size: 20px;">Estas a punto de cerrar sesión. ¿Deseas continuar?</span></div>
                <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Cerrar</button><a id="logout-link" class="btn btn-danger text-end"  href="{%url 'authnamespace:logout'%}" role="button">Cerrar sesión</a></div>
            </div>
        </div>
    </div>

{%block scripts%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
{%endblock%}

<script src="{% static 'assets/js/scriptbase.js' %}"></script>

</body>

</html>