{%extends "interfaz/base.html"%}


{%block body%}
<div class="col">
    <div>
        <div>
            <p style="font-size: 52px;width: 753px;"><strong><span style="color: rgb(37, 126, 62);">Notas de versión</span></strong></p>
        </div>
        <div>
            <h3>Versión 1.0.1</h3>
            <p>Estamos entusiasmados por anunciar la llegada de la versión 1.0.1. En esta actualización, nos hemos centrado principalmente en la corrección de errores y en la implementación de mejoras que enriquecen la experiencia de uso del programa.</p>
            <ul>
                <li>Ahora al presionar el logo del instituto te llevara a esta pestaña, donde podras aprender sobre los últimos cambios realizados a la plataforma!</li>
                <li>Se han arreglado bugs y errores menores.</li>
                <li>Se arreglaron errores en la interfaz para telefonos móvil</li>
                <li>Se corrigió error donde no se podian ver checklist específica desde la pestaña de checklist</li>
                <li>Ahora se pueden modificar las checklist.</li>
                <li>Ahora el usuario administrador puede reportar fallas a los equipos.</li>
                <li>Ahora se puede modificar y eliminar las areas.</li>
                <li>Ahora tickets envia e-mails a los correos correspondientes.</li>
            </ul>
        </div>
    </div>
</div>
{%endblock%}