{%extends "../base.html"%}
{% load static%}
{%block ticketactivo%} active {%endblock%}


{%block alerts%}
<div class="alert alert-warning alert-dismissible" role="alert" id="error-alert"><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="alert"></button><span><strong id="span-error"></strong></span></div>
<div id="atendido-alert" class="alert alert-info alert-dismissible" role="alert"><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="alert"></button>
    <span><strong>Ticket atendido de manera exitosa, por favor, avise al responsable del area para que compruebe el servicio y cierre el ticket</strong></span>
</div>
<div id="cerrado-alert" class="alert alert-info alert-dismissible" role="alert"><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="alert"></button>
    <span><strong>Ticket cerrado de manera exitosa</strong></span>
</div>
{%endblock%}




{%block body%}
           <div id="content">
                <div class="container py-4 py-xl-5" style="min-height: 100vh;">
                    <div class="row mb-5">
                        <div class="col-md-8 col-xl-6 text-center mx-auto" style="margin-bottom: 1%;">
                            <h2 style="font-size: 40px;"><strong><span style="color: rgb(37, 126, 62);">Tickets</span></strong></h2>
                            <p class="w-lg-50">Selecciona los tickets que te gustaria visualizar a continuacion.</p>
                        </div>
                    </div>
                    <div class="row gy-4 gy-xl-0 row-cols-1 row-cols-md-2 row-cols-xl-3 d-xl-flex align-items-xl-center gutter-y" style="height: 100hv;">
                        <div class="col" style="height: 100hv;">
                            <div class="card" style="height: 100%;flex: auto;">
                                <div class="card-body text-center p-4">
                                    <h6 class="text-uppercase text-muted card-subtitle">TICKETS</h6>
                                    <h4 class="display-4 fw-bold card-title" style="font-size: 40px;color: #257e3e;">Atendidos</h4><i class="icon-check" style="font-size: 86px;padding-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-top: 0px;"></i>
                                </div>
                                <div class="card-footer d-grid d-sm-flex flex-column align-items-center align-content-center flex-sm-column justify-content-sm-center align-items-sm-center p-4" style="height: 45%;">
                                    <div>
                                        <ul class="list-unstyled">
                                            <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2" style="background: var(--bs-success-border-subtle);"><svg class="bi bi-check-lg" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="color: #257e3e;">
                                                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"></path>
                                                    </svg></span><span>Permite ver los tickets que ya fueron atendidos.</span></li>
                                        </ul>
                                    </div><a class="btn btn-primary d-block w-100" role="button" href="{%url 'reportesnamespace:atendidos-list'%}" style="background: radial-gradient(#00a310 22%, #257e3e 76%), var(--bs-btn-color);margin-bottom: 0px;">ACCEDER</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="height: 100%;">
                                <div class="card-body text-center p-4">
                                    <h6 class="text-uppercase text-muted card-subtitle">TICKETS</h6>
                                    <h4 class="display-4 fw-bold card-title" style="font-size: 40px;color: #257e3e;">Cerrados</h4><i class="icon-docs" style="font-size: 86px;margin-top: 0px;"></i>
                                </div>
                                <div class="card-footer d-grid flex-column justify-content-center align-items-center align-content-center flex-sm-column justify-content-sm-center align-items-sm-center p-4" style="height: 45%;">
                                    <div>
                                        <ul class="list-unstyled">
                                            <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2" style="background: var(--bs-success-border-subtle);"><svg class="bi bi-check-lg" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="color: #257e3e;">
                                                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"></path>
                                                    </svg></span><span>Perimite ver todos los ya confirmados por el usuario que levanto el reporte.</span></li>
                                        </ul>
                                    </div><a class="btn btn-primary d-block w-100" role="button" href="{%url 'reportesnamespace:cerrados-list'%}" style="background: radial-gradient(#00a310 22%, #257e3e 76%), var(--bs-btn-color);">ACCEDER</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="height: 100%;">
                                <div class="card-body text-center p-4">
                                    <h6 class="text-uppercase text-muted card-subtitle">TICKETS</h6>
                                    <h4 class="display-4 fw-bold card-title" style="font-size: 40px;color: #257e3e;">Pendientes</h4><i class="icon-clock" style="font-size: 86px;margin-top: 0px;"></i>
                                </div>
                                <div class="card-footer d-grid d-sm-flex flex-column align-items-center align-content-center flex-sm-column align-items-sm-center p-4" style="height: 45%;">
                                    <div>
                                        <ul class="list-unstyled">
                                            <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2" style="background: var(--bs-success-border-subtle);"><svg class="bi bi-check-lg" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="color: #257e3e;">
                                                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"></path>
                                                    </svg></span><span>Permite ver aquellos tickets que no han sido atendidos.</span></li>
                                        </ul>
                                    </div><a class="btn btn-primary d-block w-100" role="button" href="{%url 'reportesnamespace:pendientes-list'%}" style="background: radial-gradient(#00a310 22%, #257e3e 76%), var(--bs-btn-color);">ACCEDER</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            {%endblock%}

{%block scripts%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
<script defer src="{% static 'assets/js/script.js' %}"></script>
<script src="{% static 'assets/js/theme.js' %}"></script>
<script>
    $("#atendido-alert").hide()
    $("#cerrado-alert").hide()
    $("#error-alert").hide()


</script>

<script>
    if (localStorage.getItem('atendidoAlert') == 'true')
    {
        
        $(document).ready(function () {
            $("#atendido-alert").fadeTo(5000, 500).slideUp(500, function(){
            $("#atendido-alert").slideUp(500)})
             
        });
        localStorage.setItem('atendidoAlert', 'false')
    }
    if (localStorage.getItem('cerradoAlert') == 'true')
    {   
        
        $(document).ready(function () {
            $("#cerrado-alert").fadeTo(5000, 500).slideUp(500, function(){
            $("#cerrado-alert").slideUp(500)})
             
        });
        localStorage.setItem('cerradoAlert', 'false')
    }
    
</script>
{%endblock%}
</body>

</html>